# Allow access to all static files
<RequireAll>
    Require all granted
</RequireAll>

# Cache static assets
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
</IfModule>

<IfModule mod_headers.c>
    Header append Cache-Control "public"
</IfModule>